.bold-text {
    font-weight: bold;
}

.hightlight code {
    border: 1px solid gray;
    height: auto;
}

h1 {
    font-size: 30px;
}

.container.white {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}